[submodule "third-party/heatshrink"]
	path = third-party/heatshrink
	url = https://github.com/atomicobject/heatshrink.git
[submodule "examples/cw/components/cwhttpd"]
	path = examples/cw/components/cwhttpd
	url = https://github.com/jkent/cwhttpd
	branch = removeotaandwifi
