menu "FrogFS"

choice
	prompt "Log level"
	default FROGFS_LOG_LEVEL_WARNING
	help
		This option sets the log level for FrogFS.

config FROGFS_LOG_LEVEL_NONE
	bool "None"

config FROGFS_LOG_LEVEL_ERROR
	bool "Error"

config FROGFS_LOG_LEVEL_WARNING
	bool "Warning"

config FROGFS_LOG_LEVEL_INFO
	bool "Info"

config FROGFS_LOG_LEVEL_DEBUG
	bool "Debug"

config FROGFS_LOG_LEVEL_VERBOSE
	bool "Verbose"

endchoice # "Log level"

config FROGFS_INCLUDE_DIRS
	bool "Build file systems with directory entries"
	default n
	help
		If enabled, FrogFS filesystems will be built with directory entries.

config FROGFS_SUPPORT_DIR
	bool "Provoide diretory related functions"
	default y
	help
		If enabled, the following functions are provived in the FrogFS API:

		frogfs_opendir, frogfs_closedir, frogfs_readdir, frogfs_rewinddir,
		frogfs_seekdir, frogfs_telldir

config FROGFS_USE_DEFLATE
	bool "Use zlib deflate"
	default y
	help
		If enabled, this will enable support for decompressing files using
		the zlib deflate algorithm.

config FROGFS_USE_HEATSHRINK
	bool "Use heatshrink"
	default y
	help
		If enabled, this will enable support for decompressing files using
		the heatshrink algorithm.

config FROGFS_MAX_PARTITIONS
	int "Max partitions"
	default 1
	help
		This option specifies the number of partitions that can be mounted
		using VFS at the same time.

endmenu
