CONFIG_CWHTTPD_WORKER_STACK_SIZE=8192
CONFIG_FROGFS_OVERLAY_DIR=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
